

.about_as {
    padding-top: 125px;
    padding-bottom: 120px;
}

.about_us_text {
    width: 50%;
    padding-right: 100px;
    
    
}

.about_us_text h2 {
    text-transform: uppercase;
    color: #5b6ceb;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 18px;
    margin-top: 15px;
}

.about_us_text p {
    color: #555555;
    font-weight: 400;
    font-size: 14px;
}

.about_us_slider {
    width: 50%;
    box-shadow:  0 0 10px rgba(0,0,0,0.2);
    border-radius: 7px;
}

.about_us_slider img {
    width: 100%;
    height: auto;
    
}