.row {
    display: flex;
    justify-content: center;
}


.slick-next, .slick-prev {
    background-color: #fff;
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    z-index: 10;
}

.slick-next {
    right: -26px;
    background-image: url('../img/arrow-next.png');
    background-position: 22px 16px;
    box-shadow:  4px 4px 9px rgba(0,0,0,0.2);
}

.slick-prev {
    left: -26px;
    background-image: url('../img/arrow-prew.png');
    background-position: 19px 16px;
    box-shadow:  -4px 4px 9px rgba(0,0,0,0.2);
}


.slick-dots .slick-active button {
    border: 2px solid #5b6ceb;
    border-radius: 50%;
}

.slick-dots li button  {
    border: 2px solid #d7d7d7;
    border-radius: 50%;
}
.slick-dots li button:before {
    content: '';
    left: 4px;
    top: 4px;
}

.slick-dots li.slick-active button:before {
    content: '';
    opacity: 1;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5b6ceb;
    padding: 3px;
}

.slick-dots li {
    margin-top: 9px;
    margin-bottom: 9px;
}
